footer.page__footer,
footer.footer {
	color: $logo-color;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100vw;
	padding: 15px;
	height: 5vh;
	z-index: 7;

	& h5 {
		font-family: 'Permanent Marker', cursive;
		position: absolute;
		bottom: -0.5rem;
		right: 1vw;
		z-index: -1;
	}
}
