.nav {
	// navbar children
	&bar {
		position: fixed;
		top: 0;
		left: 0;
		height: 7rem;
		width: 100vw;
		box-shadow: 0 0.5rem 0.5rem 0 rgba($color-black, 0.15);
		z-index: 100;
		background-color: $background-color;
		&-nav {
			position: absolute;
			display: flex;
			right: 2rem;
			top: 0.5rem;
			list-style: none;
			font-size: 1.5rem;
		}

		&-brand {
			font-size: 4rem;
			color: $logo-color;
			font-family: 'Permanent Marker', cursive;
			&-guest {
				text-align: end;
				margin-right: 7rem;
			}

			&-authorized {
				margin-left: 7rem;
			}
		}
	}

	// nav children
	&-thumb {
		height: 4rem;
		width: 4rem;
		border-radius: 100%;
		object-fit: cover;
	}
	&-item {
		margin: auto 0.25rem;
	}

	&-link {
		text-decoration: none;
		color: $color-blue-dark-1;
	}
}
