 /* Post Column and Children */

 .dashboard {
     height: 90vh;
     width: 100vw;
     position: fixed;
     top: 10vh;
     left: 0;
     overflow: scroll;
     z-index: 100;
     
     @include clearfix;

     &__column {

        &--1 {
            width: 20%;
            position: fixed;
            margin-top: $margin-med;
            top: 10vh;
            left: 3%;

        }

        &--2 {
            width: 49%;
            position: fixed;
            margin-top: $margin-med;
            top: 10vh;
            left: 23%;
        }

        &--3 {
            width: 25%;
            position: fixed;
            margin-top: $margin-med;
            top: 10vh;
            right: 3%;
            background-color: violet;
        }


     }

 }

  

/* 

.row.create__post,.card.post__container {

    background-color: rgba(43, 32, 36, .2);
    width: 550px;
    padding: 15px 30px;
    margin: 34px 20px;
    border: none;
    border-radius: 10px;
}

.card.create__post {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    border: none;
    border-radius: 10px;
}

.create__post__caption {
    color: black;
    padding: 3px 15px;
    margin: auto;
    margin-left: 10px;
    width: 350px;
    height: 30px;
    background-color: rgba(43, 32, 36, 0.1);
    border-radius: 15px;
}

.post__row {
    overflow: scroll;
    max-height: 720px;
}

.post__content {
    margin-top: 15px;
}

.poster__name {
    margin: auto -5px;
    color: rgb(216, 7, 7);
} */

    /* Gig Column and Children */

.gig__column {
    margin: 0px 0px -15px 0px;
    width: 300px;
    overflow: scroll;
}

.gig__column::-webkit-scrollbar {
    display: none;
}

.create__gig__anchor {
    font-size: large;
    position: relative;
    left: 270px;
    color: rgb(216, 7, 7);
}

.gig__description {
    padding: 5px;
}

.gig__name {
    margin: auto 10px;
}

.options {
    color: #2b2024;
    margin: 0;
    text-decoration: none;
}

.options:hover {
    color: #a80038;
}
label.label {
    font-size: 12px;
    display: block;
}