.about {
	margin: 0;
	padding: 2.5rem 5rem;

	&__column {
		width: 30rem;
		text-align: center;
		margin: auto;
		&-1 {
			grid-area: column1;
		}
		&-2 {
			grid-area: column2;
		}
		&-3 {
			grid-area: column3;
		}
	}

	&__title {
		grid-area: about-title;
		width: 50%;
		margin: 0 auto;
		border-bottom: 1px solid $color-primary;

		&__text {
			font-size: $font-lg;
			text-align: center;
			margin: auto;
		}
	}
}
