.event__toolbar {
	width: 80vw;
	position: fixed;
	top: 7rem;
	right: 0;
	height: 5rem;
	padding: 1.5rem 7rem;
	display: flex;
	justify-content: flex-end;
	z-index: 5;
	background: linear-gradient($background-color 80%, transparent);
	@include respond(gfold-land) {
		width: 70vw;
	}

	& .input__section {
		display: inline-block;
		margin-left: 1rem;
		& label {
			margin-right: 0.5rem;
		}
	}
}
