/* Current Users profile card */

.card.user-card {
	width: 100%;
	margin: 0;
	background-color: $color-grey-light-2;
	background: linear-gradient(to bottom, $color-grey-light-2 97%, transparent);
	border: none;
	border-radius: 0;
	height: 22rem;
	display: flex;

	&-mobile {
		margin: 3rem auto;
		display: none;

		&__image-container {
			display: inline;
			width: 25%;
		}

		&__nav {
			display: inline;
			width: 75%;
		}

		& img.user-card__image {
			position: absolute;
			left: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: inline;
			height: 10rem;
			width: 10rem;
			object-fit: cover;
			border-radius: 100%;
			margin-left: 2rem;
		}

		@include respond(phone) {
			display: initial;
			position: fixed;
			width: 92vw;
			height: 12rem;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
		}
	}
}

.user-card {
	height: 28.5rem;
	width: 22.5rem;
	position: relative;

	&__options {
		width: 100%;
		text-align: center;
		&-container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
		}
	}

	&__image {
		height: 17.5rem;
		width: 15rem;
		object-fit: cover;
		border-radius: 100%;
		display: block;
		margin: 3rem auto;
	}

	&-mobile {
		margin: 3rem auto;
		display: none;

		&__image-container {
			position: absolute;
			left: 0;
			top: 0;
			width: 30%;
			height: 100%;

			& .user-card__image {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&__nav {
			position: absolute;
			right: 0;
			top: 0;
			display: inline;
			width: 70%;
			height: 100%;

			&-left,
			&-right {
				width: 50%;
				text-align: center;
				top: 50%;
				transform: translateY(-50%);

				& ul {
					padding-left: 0;
					margin: auto;
					text-align: center;
					list-style: none;
				}

				& p {
					padding: 1rem;

					&:after {
						content: '';
						display: block;
						width: 90%;
						height: 1px;
						position: relative;
						top: 3px;
						margin: 0 auto;
						border-bottom: 1px solid $color-red;
					}
				}
			}

			&-left {
				position: absolute;
				left: 0;
			}

			&-right {
				position: absolute;
				right: 0;
			}
		}
	}
}
