// Font Sizes

$font-sm: 1.2rem;
$font-default: 1.6rem;
$font-lg: 1.8rem;
$font-xl: 2rem;

// Colors
$logo-color: #112e5c;
$color-blue-dark-1: #2c3e5c;
$background-color: #f5faff;
$color-white: #fff;
$color-offwhite: #fbf9fa;
$color-red: rgb(216, 7, 7);
$color-black: #000;
$color-green: rgb(91, 194, 54);
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #cfcece;
$color-grey-dark-2: #888888;
$color-grey-dark-3: #696969;
$color-blue-grey: #dce7fa;
$color-primary: #fd0054;

$box-shadow-1: 0 2rem 4rem rgba($color-black, 0.15);
$box-shadow-2: 0 1rem 4rem rgba($color-black, 0.15);
