
// Colors
$color-white: rgb(255, 255, 255);
$color-grey-light: #F2F2F2;
$color-grey-dark: #999;
$color-red: rgb(216, 7, 7);
$color-black: #000;
$color-green: rgb(91, 194, 54);


// Font Sizing
$font-size-sm: 1.2rem;
$font-size-default: 1.6rem;
$font-size-lg: 3.2rem;
$font-size-xl: 4.8rem;
$desktop-breakpoint: 45rem;