.btn {
    font-size: 1.3rem;
    height: 3rem;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 100px;
    transition: all .1s;
    display: block;
    margin: 1.5rem auto;

    &:hover {
        transform: translateY(-2px) scale(1.01);
        box-shadow: 0 1rem 1rem rgba($color-black, .15);
        border: 1px solid $color-red;
        background-color: $color-white;
    }
}