.comment-form {


    &__text {
    width: 80%;
    max-height: 30rem;
    border-radius: 20px;
    resize: none;
    position: relative;
    left: 10%;
    outline: none;
    padding: 1rem;

    
    }
}