
.create__post {
    display: flex;
    background-color: rgba(43, 32, 36, .2);
    box-shadow: $box-shadow-default;
    margin-bottom: $margin-med;
    @include postColumnPresets;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;

    &__caption {
        color: black;
        padding: 3px 15px;
        margin: auto;
        margin-left: 10px;
        width: 350px;
        height: 30px;
        background-color: rgba(43, 32, 36, 0.1);
        border-radius: 15px;
    }
}

