
.create__post {
    display: flex;
    background-color: rgba(43, 32, 36, .2);
    box-shadow: $box-shadow-default;
    margin-bottom: $margin-med;
    @include postColumnPresets;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;

    &__anchor {
        color: black;
        padding: 3px 15px;
        margin: auto;
        margin-left: 10px;
        width: 350px;
        height: 30px;
        background-color: rgba(43, 32, 36, 0.1);
        border-radius: 15px;
        position: relative;
        
    }

    &__caption {
        position: absolute;
        bottom: 0px;
        margin-bottom: .6rem;
    }

    &__form {
        height: 20rem;
        background-color: rgba(43, 32, 36, .2);
        box-shadow: $box-shadow-default;
        margin-bottom: $margin-med;
        @include postColumnPresets;
        padding: 15px 30px;
        border: none;

    }
}
@keyframes moveInBottom { 
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% {
        opacity: 1;
        transform: translate(0)
    }
}


.post-form {
    animation-name: moveInBottom;
    animation-duration: 3s;

    &__footer {
        width: 25rem;
        position: absolute;
        right: 0;
        bottom: 0
    }

    &__content {
        width: 100%
    }

    &__btn {
        display: inline-block;
        width: 10rem;
    }
}