.dashboard-nav {
    &--1 {
        width: 100%;
        height: 14rem;
        background-color: $color-white;
        margin: $margin-med 0;
        box-shadow: $box-shadow-default;
        border-radius: $border-radius-default;
        @include postColumnPresets;

        [class*='_section'] {
            width: 50%;
            height: 90%;
            margin: 0;

            & ul {
                height: 100%;
                position: relative;
                margin: auto;
                list-style: none;
                top: 5%;

                
                

                

                & li {
                    text-align: center;
                    font-size: 1.2rem;

                    &:not(:last-child) {
                    margin-bottom: 1rem;
                    }

                }
            }
        }

        &__section {
            &--1 {
                position: absolute;
                top: 0;
                left: 0;
            }

            &--2 {
                position: absolute;
                top: 0;
                right: 0;

                &:after {
                    content: '';
                    border-left: 1px solid $color-red;
                    height: 60%;
                    display: block;
                    margin: auto 0;
            }
            }
        }
    }

    &--2 {
        margin-top: $margin-sm;
        width: 70%;
        height: 35rem;
        background-color: $color-white;
        box-shadow: $box-shadow-default;
        border-radius: $border-radius-default;
        @include profileColumnPresets;

        &__section {
            height: 50%;
            width: 80%;
            position: relative;
            left: 10%;
            text-align: center;

            &:not(:last-child) {
                border-bottom: 1px solid $color-red;
            }

            & ul {
                height: 60%;
                width: 80%;
                list-style: none;
                position: relative;
                top: 20%;
                left: 10%;

                & li {
                margin-bottom: $margin-sm;
                position: relative;
                
                
                    &:hover:after {
                    width: 100%;
                    }
                
                    &:after {
                        content: '';
                        height: 2px;
                        margin: auto;
                        display: block;
                        width: 0;
                        border-bottom: 1px solid red;
                        transition: all .3s;
                    }
                }
            }
        }

    }

   
  

}



