.edit {
    height: 100%;
    width: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    text-align: center;

    &__container {
        height: 80%;
        width: 80%;
        display: flex;
        align-content: center;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
    }

    &:hover &__container {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    

    &__anchor {

        &:link,
        &:visited{
            margin: auto;
            text-decoration: none;
        }
    }
}