footer.page__footer {
    background-color: #fd0054;
    color:  #fbf9fa;
    margin: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    width: 100vw;
    padding: 15px;
    text-align: end;
    height: 5vh;
}