.post {
    max-height: 40rem;
    margin-bottom: $margin-med;
    padding: $margin-sm $margin-med;
    @include postColumnPresets;
    @include cardPreset;

    &__header {
        position: relative;

        &-options {
            height: 2.5rem;
            width: 2.5rem;


        }
    }


    &__content {
        margin: $margin-sm 0;
    }

    &__footer {
        height: 3rem;
    }
}

